form{"method" => "POST", "action" => "/"}
  .form-group
    label{:for => "link"} Enter a URL to get a Shortened Link
    input{:type => "url", :name => "link", :id => "link", :class => "form-control", :placeholder => "https://www.google.com"}
  button{:type => "submit", :class => "btn btn-success"} Shorten it!
